body {
    
    flex-direction: column;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #cec2e6;
    height:100vh;
    
}
#openModal {
background-color: blueviolet;
border-color: rgb(140, 140, 140);
color:#f0f0f0;
border-radius: 3px;
padding: 10px;
position: fixed;
width: 100px;
height: 50px;
}


.modalWrapper {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 3px;
    height: 20px;
}
